# @package _global_
# configs/hparams_search/mnist_optuna.yaml
# MNIST Optuna 超参数搜索配置

defaults:
  - override /hydra/sweeper: optuna

hydra:
  sweeper:
    sampler:
      _target_: optuna.samplers.TPESampler
      seed: ${seed}
      n_startup_trials: 10
    direction: maximize
    study_name: ${task_name}
    storage: null
    n_trials: 50
    n_jobs: 1
    # 搜索空间
    params:
      model.optimizer.lr: tag(log, interval(1e-5, 1e-2))
      model.optimizer.weight_decay: tag(log, interval(1e-6, 1e-3))
      data.batch_size: choice(32, 64, 128)

optimized_metric: "val/acc"
